= render '/shared/request_header', header: t(:show_vacation), request: vacation.request

= render('/shared/resource_attributes',
	attributes: { t(:duration) => vacation.duration, t(:from) => vacation.from,
	t(:to) => vacation.to })

= render '/passports/passport', passport: vacation.passport

= render('/shared/resource_footer', back_path: requests_path,
	edit_path: edit_vacation_path(vacation), resource: vacation.request)
