= render '/shared/request_header', header: t('.header'), request: vacation

= render('/shared/resource_attributes', attributes: { t('vacations.form.duration') => vacation.duration,
	t('vacations.form.from') => vacation.from,
	t('vacations.form.to') => vacation.to })

= render '/passports/passport', passport: vacation.passport

= render '/shared/resource_footer', back_path: requests_path, edit_path: edit_vacation_path(vacation), resource: vacation.request
