- cells   = ['link_to item.name, item', 'item.requests.size']
- columns = [t(:applicant_name), t(:requests_count)]

= render('/shared/table', columns: columns, items: applicants, cells: cells,
	empty_phrase: t('.empty'))
