= render('/shared/resource_attributes',
	attributes: { t(:name) => applicant.name,
	t(:user) => link_to(applicant.user_username,
	applicant.user),
	t(:location) => link_to(applicant.location_name, applicant.location),
	t(:requests_count) => applicant.requests.size })
