- users = t('.users')
= provide :title, users

%div.page-header
	%h1= users

= render 'users', users: @users, location_col: true

= link_to t('users.new.action'), new_user_path, class: get_btn_class(:create)
