- options ||= {}

%div{ style: options[:inline] ? 'display: inline' : '' }
	= f.text_field(symbol, placeholder: text, title: text,
			autofocus: options[:autofocus], required: !options[:extra],
			class: options[:klass])
