%div.btn-group{ dir: 'ltr' }
	= link_to t(:back), requests_path, class: get_btn_class(:back)
	= link_to t(:edit), edit_link, class: get_btn_class(:edit)
	= link_to t(:destroy), request.request, method: :delete, class: get_btn_class(:destroy)
