%div.btn-group{ dir: 'ltr' }
	= link_to t(:back), back_path, class: get_btn_class(:back_normal)
	= link_to t(:edit), edit_path, class: get_btn_class(:edit_normal)
	= link_to(t(:destroy), resource, method: :delete,
		class: get_btn_class(:destroy_normal))
