- requests ||= false

- if items.any?
	%table{class: ApplicationHelper::TABLE_CLASS}
		%thead
			%tr
				%th #
				- columns.each do |column|
					%th= column
		%tbody
			- i = 1
			- items.each do |item|
				%tr{ class: get_accepted_link(item) }
					- unless requests
						%td= i
					- cells.each do |cell|
						%td= eval cell
					- i += 1

- elsif empty_phrase
	%p.lead= empty_phrase
