%div.btn-group{ dir: 'ltr' }
	= link_to(t(:accept),
		new_request_decision_path(request, d: Decision::ACCEPT),
		class: get_btn_class(:accept))

	= link_to(t(:reject),
		new_request_decision_path(request, d: Decision::REJECT),
		class: get_btn_class(:reject))
