= render '/shared/request_header', header: t('.header'), request: leave

%p
	%b= t('leaves.form.reason') + ': '
	= leave.reason

= render '/shared/request_footer', edit_link: edit_leafe_path(leave), request: leave
