= render '/shared/page_header', header: t('.alerts')

= render 'alerts', alerts: @alerts

- if @current_user.try(:admin)
	%div= link_to t('alerts.new.action'), new_alert_path, class: get_btn_class(:create)
