- alerts = t('.alerts')
= provide :title, alerts

%div.page-header
	%h1= alerts

= render 'alerts', alerts: @alerts

%div= link_to t('alerts.new.action'), new_alert_path, class: 'btn btn-success btn-large'
