= provide :title, t('.header')

= render @alert, link: false

%div.btn-group{ dir: 'ltr' }
	- klass = 'btn btn-small '
	= link_to t('.edit'), edit_alert_path(@alert), class: (klass + 'btn-success')
	= link_to t('.destroy'), @alert, method: :delete, class: (klass + 'btn-danger')