= provide :title, t('.header')

= render @alert

%div.btn-group{ dir: 'ltr' }
	= link_to t('.edit'), edit_alert_path(@alert), class: get_btn_class(:edit)
	= link_to t('.destroy'), @alert, method: :delete, class: get_btn_class(:destroy)