= render '/shared/request_header', header: t(:show_coming), request: coming

= render('/shared/resource_attributes',
	attributes: { t(:reason) => coming.reason })

= render('/shared/resource_footer', back_path: requests_path,
	edit_path: edit_coming_path(coming), resource: coming.request)
