- columns = [t('companions.form.name'), t('companions.form.relation'), t('companions.form.birthdate')]
- cells   = ['item.name', 'item.relation', 'item.birthdate']

= render('/shared/table', columns: columns, items: companions, cells: cells,
	empty_phrase: false)
