= render('/shared/resource_attributes',
	attributes: { t('locations.form.name') => location.name,
	t(:users_count) => location.users.size,
	t(:applicants_count) => location.applicants.size,
	t(:requests_count) => location.requests.size })
