- if notice
  %section.alert.alert-success.text-center
    %button.close{ type: 'button', 'data-dismiss' => 'alert' } &times
    = notice
- elsif warning
  %section.alert.alert-error.text-center
    %button.close{ type: 'button', 'data-dismiss' => 'alert' } &times
    = warning
